# Lists

Lists are a sequence data type like strings. So, you can index and slice it like strings. But Lists are mutable, meaning the elements inside a list can be changed!

In this video,  you will learn:
    1. creating lists
    2. indexing and slicing lists
    3. nesting lists
    4. list methods
    5. list comprehension

## 1. creating lists
Lists are constructed with brackets [] and commas separating every element in the list.

[item1, item2, item3, ...]

In [1]:
my_list = [1, 2, 3]

We just created a list of integers, but lists can actually hold different object types. For example:

In [2]:
my_list = ["Mohamed", 12, 156.5, 2 + 3j]

Just like strings, the len() function will tell you how many items are in the sequence of the list.

In [3]:
my_list

['Mohamed', 12, 156.5, (2+3j)]

In [4]:
len(my_list)

4

## 2. indexing and slicing lists

In [5]:
my_list = ["mohamed", "ahmed", 1, 2, 3]

In [6]:
my_list[0]

'mohamed'

In [7]:
my_list[1:4]

['ahmed', 1, 2]

In [8]:
my_list[1:]

['ahmed', 1, 2, 3]

In [9]:
my_list[:-1]

['mohamed', 'ahmed', 1, 2]

In [10]:
my_list[::2]

['mohamed', 1, 3]

In [11]:
my_list[::-1]

[3, 2, 1, 'ahmed', 'mohamed']

We can also use + to concatenate lists, just like we did for strings.

In [12]:
my_list + ['new item']

['mohamed', 'ahmed', 1, 2, 3, 'new item']

Note: This doesn't actually change the original list!

In [13]:
my_list

['mohamed', 'ahmed', 1, 2, 3]

You would have to reassign the list to make the change permanent.

In [14]:
my_list = my_list + ['new item 1']

In [15]:
my_list

['mohamed', 'ahmed', 1, 2, 3, 'new item 1']

In [16]:
my_list += ['new item 2']

In [17]:
my_list

['mohamed', 'ahmed', 1, 2, 3, 'new item 1', 'new item 2']

We can also use the * for a duplication method similar to strings:

In [18]:
my_list * 2

['mohamed',
 'ahmed',
 1,
 2,
 3,
 'new item 1',
 'new item 2',
 'mohamed',
 'ahmed',
 1,
 2,
 3,
 'new item 1',
 'new item 2']

You would have to reassign the list to make the change permanent, too.

In [19]:
my_list *= 2

In [20]:
my_list

['mohamed',
 'ahmed',
 1,
 2,
 3,
 'new item 1',
 'new item 2',
 'mohamed',
 'ahmed',
 1,
 2,
 3,
 'new item 1',
 'new item 2']

## 3. nesting lists

In [21]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]
matrix = [list1, list2, list3]

In [22]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [23]:
matrix = [
    ["Mohamed", "Ahmed", "Fouad"],
    [176, 185.2, 190.06],
    [88.5, 150, 60]
]

In [24]:
matrix

[['Mohamed', 'Ahmed', 'Fouad'], [176, 185.2, 190.06], [88.5, 150, 60]]

In [25]:
matrix[0]

['Mohamed', 'Ahmed', 'Fouad']

In [26]:
matrix[1]

[176, 185.2, 190.06]

In [27]:
matrix[0][1]

'Ahmed'

In [28]:
matrix[2][2]

60

## 4. list methods

If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).

Let's go ahead and explore some more special methods for lists:

In [29]:
my_list = [1, 2, 3]

Use the append method to permanently add an item to the end of a list:

In [30]:
my_list.append("Hello :)")

In [31]:
my_list

[1, 2, 3, 'Hello :)']

Use pop to "pop off" an item from the list and return its value. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

In [32]:
my_list.pop()

'Hello :)'

In [33]:
my_list

[1, 2, 3]

In [34]:
my_list.pop(0)

1

In [35]:
my_list

[2, 3]

In [36]:
last = my_list.pop()

In [37]:
last

3

In [38]:
my_list

[2]

In [39]:
my_list.append("hello")

In [40]:
my_list

[2, 'hello']

In [41]:
my_list.append(["one", "two", "three"])

In [42]:
my_list

[2, 'hello', ['one', 'two', 'three']]

It should also be noted that lists indexing will return an error if there is no element at that index. For example:

In [43]:
my_list[50]

IndexError: list index out of range

We can use the sort method and the reverse methods to also effect your lists:

In [44]:
my_list = [5, 2, 1, 3, 4]

In [45]:
my_list.sort()

In [46]:
my_list

[1, 2, 3, 4, 5]

In [47]:
my_list.reverse()

In [48]:
my_list

[5, 4, 3, 2, 1]

In [49]:
my_list.count(6)

0

In [50]:
my_list.index(3)

2

In [51]:
my_list.index(6)

ValueError: 6 is not in list

In [52]:
my_list.insert(1, "Hello")

In [53]:
my_list

[5, 'Hello', 4, 3, 2, 1]

In [54]:
my_list.remove("Hello")

In [55]:
my_list

[5, 4, 3, 2, 1]

In [56]:
my_list.remove("Hello")

ValueError: list.remove(x): x not in list

In [57]:
x = my_list.copy()

In [58]:
x

[5, 4, 3, 2, 1]

In [59]:
x.pop()

1

In [60]:
my_list

[5, 4, 3, 2, 1]

In [61]:
x

[5, 4, 3, 2]

In [62]:
y = x

In [63]:
y

[5, 4, 3, 2]

In [64]:
y.pop()

2

In [65]:
x

[5, 4, 3]

In [66]:
y

[5, 4, 3]

In [67]:
my_list

[5, 4, 3, 2, 1]

In [68]:
my_list.clear()

In [69]:
my_list

[]

## 5. list comprehension

Python has an advanced feature called list comprehensions. They allow for quick construction of lists. To fully understand list comprehensions we need to understand for loops. So don't worry if you don't completely understand this section, and feel free to just skip it since we will return to this topic later.

But in case you want to know now, here are a few examples!

In [70]:
my_list = [1, 2, 3, 4]

In [71]:
power_of_my_list = [x ** 2 for x in my_list]

In [72]:
power_of_my_list

[1, 4, 9, 16]