# Booleans, Sets and Frozensets

## Booleans

Python  comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None.

In [1]:
a = True #not true

In [2]:
a

True

In [3]:
b = False

In [4]:
b

False

In [5]:
type(a)

bool

In [6]:
bool(0)

False

In [7]:
bool(1)

True

In [8]:
bool(2)

True

In [9]:
bool(-1)

True

In [10]:
bool(0.5)

True

In [11]:
bool(0.000000000000000001)

True

In [12]:
x = None

In [13]:
type(x)

NoneType

## Sets

A Set is an unordered collection data type that is iterable, mutable and has no duplicate elements.

we will talk about:

    1. Constructing Sets
    2. Mutability
    3. Sets Methods

### 1. Constructing Sets
We can construct them by using the set() function.

or {e1, e2, e3}

In [14]:
s1 = set()

In [15]:
s1.add(1)

In [16]:
s1

{1}

In [17]:
s1.add(1)

In [18]:
s1

{1}

In [19]:
s1.add(2)

In [20]:
s1

{1, 2}

In [21]:
l = [1, 1, 2, 3, 4, 4]

In [22]:
s2 = set(l)

In [23]:
s2

{1, 2, 3, 4}

In [24]:
s3 = {1, 2, 3, 3}

In [25]:
s3

{1, 2, 3}

In [26]:
type(s3)

set

### 2. Mutability

In [27]:
s3[0]

TypeError: 'set' object is not subscriptable

In [28]:
s3[0:2]

TypeError: 'set' object is not subscriptable

In [29]:
s3[0] = 4

TypeError: 'set' object does not support item assignment

These errors occurred because sets are an unordered collection data type, so indexing has no meaning. We cannot access or change an element of a set using indexing or slicing.

Notice

In [30]:
d = {}
s = set()

In [31]:
type(d)

dict

In [32]:
type(s)

set

### 3. Sets Methods

* add():
    * Adds an element to the set

In [33]:
s = {4, 1, 2}

In [34]:
s.add(5)

In [35]:
s

{1, 2, 4, 5}

* clear():
    * Removes all elements from the set

In [36]:
s.clear()

In [37]:
s

set()

* copy():
    * Returns a copy of the set

In [38]:
s1 = {5, 1, 2}
s2 = s1.copy()

In [39]:
s1.clear()

In [40]:
s1

set()

In [41]:
s2

{1, 2, 5}

* difference():
    * Returns the difference of two or more sets as a new set

<img src="imgs/set-difference.jpg">

In [42]:
s1 = {12, 13, 5, 9, 6, 2, 3}
s2 = {15, 12, 5, 2, 1, 10, 11}

In [43]:
s1.difference(s2)

{3, 6, 9, 13}

In [44]:
s1 - s2

{3, 6, 9, 13}

In [45]:
s1

{2, 3, 5, 6, 9, 12, 13}

In [46]:
s2

{1, 2, 5, 10, 11, 12, 15}

In [47]:
s3 = s2.difference(s1)

In [48]:
s3

{1, 10, 11, 15}

In [49]:
s1 = {1, 2, 3}
s2 = {4, 5, 6, 8}
s3 = {7, 8, 9}

In [50]:
s3.difference(s1, s2)

{7, 9}

* difference_update():
    * Removes all elements of another set from this set

In [51]:
s1 = {12, 13, 5, 9, 6, 2, 3}
s2 = {15, 12, 5, 2, 1, 10, 11}

In [52]:
s2.difference_update(s1)

In [53]:
s2

{1, 10, 11, 15}

In [54]:
s1 = {12, 13, 5, 9, 6, 2, 3}
s2 = {15, 12, 5, 2, 1, 10, 11}

In [55]:
s2 -= s1   # s2 = s2 - s1

In [56]:
s2

{1, 10, 11, 15}

* discard():
    * Removes an element from the set if it is a member. (Do nothing if the element is not in set)

In [57]:
s2.discard(1)

In [58]:
s2

{10, 11, 15}

In [59]:
s2.discard(100)

In [60]:
s2

{10, 11, 15}

* remove():
    * Removes an element from the set. If the element is not a member, raises a KeyError

In [61]:
s2.remove(10)

In [62]:
s2

{11, 15}

In [63]:
s2.remove(100)

KeyError: 100

* pop():
    * Removes and returns an arbitrary set element. Raises KeyError if the set is empty

In [64]:
s = {1, 2, 3}

In [65]:
s.pop()

1

In [66]:
s.pop()

2

In [67]:
s

{3}

In [68]:
s.pop(0)

TypeError: set.pop() takes no arguments (1 given)

In [69]:
s.pop()

3

In [70]:
s.pop()

KeyError: 'pop from an empty set'

* intersection():
    * Returns the intersection of two sets as a new set

<img src="imgs/set-intersection.jpg">

In [71]:
s1 = {12, 13, 5, 9, 6, 2, 3}
s2 = {15, 12, 5, 2, 1, 10, 11}

In [72]:
s1.intersection(s2)

{2, 5, 12}

In [73]:
s1 & s2

{2, 5, 12}

* intersection_update():
    * Updates the set with the intersection of itself and another

In [74]:
s1 = {12, 13, 5, 9, 6, 2, 3}
s2 = {15, 12, 5, 2, 1, 10, 11}

In [75]:
s1.intersection_update(s2)

In [76]:
s1

{2, 5, 12}

In [77]:
s1 = {12, 13, 5, 9, 6, 2, 3}
s2 = {15, 12, 5, 2, 1, 10, 11}

* isdisjoint():
    * Returns True if two sets have a null intersection

In [78]:
s1 &= s2   # s1 = s1 & s2

In [79]:
s1

{2, 5, 12}

* issubset():
    * Returns True if another set contains this set

In [80]:
s1 = {1, 2, 3, 4}
s2 = {2, 3}

In [81]:
s2.issubset(s1)

True

* issuperset():
    * Returns True if this set contains another set

In [82]:
s1.issuperset(s2)

True

In [83]:
s2.issuperset(s1)

False

* symmetric_difference():
    * Returns the symmetric difference of two sets as a new set

<img src="imgs/symmetric-difference.png">

In [84]:
s1 = {1, 2, 3, 4, 5}
s2 = {1, 2, 6, 7, 8}

In [85]:
s1.symmetric_difference(s2)

{3, 4, 5, 6, 7, 8}

In [86]:
s1 ^ s2

{3, 4, 5, 6, 7, 8}

* symmetric_difference_update():
    * Updates a set with the symmetric difference of itself and another

In [87]:
s1

{1, 2, 3, 4, 5}

In [88]:
s2

{1, 2, 6, 7, 8}

In [89]:
s1.symmetric_difference_update(s2)

In [90]:
s1

{3, 4, 5, 6, 7, 8}

In [91]:
s1 = {1, 2, 3, 4, 5}
s2 = {1, 2, 6, 7, 8}

In [92]:
s1 ^= s2 # s1 = s1 ^ s2

In [93]:
s1

{3, 4, 5, 6, 7, 8}

* union():
    * Returns the union of sets in a new set

<img src="imgs/set-union.jpg">

In [94]:
s1 = {1, 2, 3, 4, 5}
s2 = {1, 2, 6, 7, 8}

In [95]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [96]:
s1

{1, 2, 3, 4, 5}

In [97]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8}

* update():
    * Updates the set with the union of itself and others

In [98]:
s1.update(s2)

In [99]:
s1

{1, 2, 3, 4, 5, 6, 7, 8}

In [100]:
s1 = {1, 2, 3, 4, 5}
s2 = {1, 2, 6, 7, 8}

In [101]:
s1 |= s # s1 = s1 | s2

In [102]:
s1

{1, 2, 3, 4, 5}